select {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}



@media screen and (max-width:420px) {
    .dropdown {
        flex-wrap: wrap;
    }
}