.MainContent {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.container {
    width: auto;
    text-align: justify;
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: black;
    
}
.story {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;    
}
.container:hover {
    scale: 1.05;
    transition: .7s;
}
.story-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.placeholder {
    max-width: 250px;
    min-width: 100px;
}
a{
    color: grey;
    text-decoration: none;
}



@media screen and (max-width:890px) {
    .container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:420px) {
    .url {
        display: none;
    }
    .container {
        text-align: center;
    }
}