.logo {
  width: 150px;
  height: 150px;
  min-width: 100px;
  min-height: 100px;
}
.header {
  
  background-color: #E2E2E2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

.searchBar {
  padding: 16px 144px 16px 50px;
  background: url("./assets/magnifying-glass-solid.svg") no-repeat scroll 15px 11px;
  background-size: 25px;
  background-color: white;
  width: 60%;
  border:none;
  border-radius: 5px; 
}

.searchBar:focus {
  outline:0px
}

@media screen and (max-width:420px) {
  .header {
    flex-direction: column;
    gap: 0rem;
    padding-top: 0px;
  }
  .searchBar {
  padding: 16px 50px 16px 50px;
  }
}