.Paginate {
    display: flex;
    gap: 1rem;
}

h3 {
    text-align: center;
    color: black;
    cursor: pointer;
}
h3:hover {
    color: orange;
}

.active {
    color: orange;
}
.Paginate-container {
    padding: 50px 0px 30px 0px;
    display: flex;
    justify-content: center;
    
}



@media screen and (max-width:420px) {
    .Paginate-container {
        flex-wrap: wrap;
        gap: 0rem;
        padding: 10px;
    }
}